.companyInfo {
    background-color:#fff;
    margin:0px auto;
}
.companyInfo table {
    width:100%;
}

.companyInfo td {
    text-align: center;
    height:40px;
    line-height:40px;
    border:1px solid #ccc;
    overflow:auto;
}
.companyInfo .companyInfoHead {
    text-align: center;
    height:40px;
    background-color:#E6EEEE;
    border:1px solid #ccc;
}
.evenRows {
    background:#F0F0F6;
}