/***
    所有学院新闻样式
**/

.allNews {
    width:1100px;
    background-color: #F0F6FA;
}

.allNewsTable {
    width:300px;
    margin-left:10px;
    float:left;
}

.allNewsTable th {
    text-indent:20px;
    text-align:left;
    font-size:13px;
    border-left:4px solid #ccc;
}


.allNewsTable td {
    border:none;
    height:25px;
    text-align:left;
    text-indent:20px;
    line-height:25px;
}

.allNewsTable td a{
    display:block;
    height:25px;
    background: url(../../resources/images/dot.jpg) no-repeat left 55%;
}

/***
    添加新闻样式
**/
.addNews {
    width:700px;
}

/**
    个人信息维护
**/
.updatePerInfo {
    width:500px;
}

/**
城市信息维护
**/

.cityInfo {
    width:790px;
}

/**
学院信息维护
**/



/**
班级信息维护
**/



/**
教师信息维护
**/


/**新闻卡片推**/

.tab {
    height:300px;
    width:400px;
    float:left;
    position:relative;
    margin-top:8px;
}

.tabChild {
    height:270px;
    position:absolute;
    left:0px;
    top:30px;
    display:none;
    background-color:#FFF;
}
.lastNews{
    width:280px;
    background-color: #fff;
    margin-right:8px;
}

.specialTab {
    width:1100px;
}
.tab h1 {
    height:30px;
    width:65px;
    text-align:center;
    line-height:30px;
    font-weight: normal;
    font-size:12px;
    float:left; 
}
.bg {
    width:auto;
    height:30px;
    line-height:30px;
    text-indent:8px;
    text-align:left;
    background-color: #F0F6FA;
}
.bg label {
    background-color:#FFF;
    display:block;
    height:30px;
    width:65px;
}

.allNews_bg {
    height:131px;
    background:#F0F6FA url(../../resources/images/news_bg_1.gif) no-repeat left top;
}

.allNews_bg .login {
    width:200px;
    position:absolute;
    text-align:center;
    height:40px;
    top:0px;
    right:0px;
    line-height:40px;
}


.pageContent .teacherCheck {
    width:auto;
}

.pageContent .teacherCheck td {
    border:1px solid #ccc;
}

.pageContent .noneBorder td{
    border:none;
    width:auto;
    text-align:left;
}
.pageContent .noneBorder input {
    width:auto;
}

.pageContent .noneBorder{
    width:auto;
}

.special  td,.special  th {
    vertical-align:middle;
}

.pageContent .auto {
    width:auto;
}

.pageContent .auto td {
    width:100px;
}