

.personInfo {
    border:1px solid #ccc;
    background-color:#FFF;
    width:410px;
    margin:0px auto;
    font-size:13px;
    text-align:center;
    padding:10px;
}


.personInfo h1 {
        border-bottom:1px dashed #ccc;
        height:40px;
        line-height:40px;
        text-indent: 40px;
}
.personInfo input {
    height:25px;
}
.personInfo table {
    width:100%;
}
.personInfo td {
       line-height:60px;
       height:60px;
}
.personInfo .submit {
    background:url(../../resources/images/ico_tijiao.gif) no-repeat left top;
    width:84px;
    height:36px;
    border:none;
    margin:0px auto;
    display:block;
    cursor:pointer;
}